<div class="well">
<h1>Editing Work Hour</h1>
</div>

<%= render 'form' %>
<div class="well">
<%= link_to 'Show', @work_hour, :class => "btn btn-primary" %> |
<%= link_to 'Back', work_hours_path, :class => "btn btn-primary" %>
</div>