// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#box{
display:none;
	height: 50%;
	width: 30%;
	background-color: yellow;
	top: 40%;
	position: absolute;
	left: 30%;
	z-index: 3
}